@font-face {
    font-family: 'Hellix';
    src: url('Hellix-SemiBoldItalic.eot');
    src: local('Hellix SemiBold Italic'), local('Hellix-SemiBoldItalic'),
        url('Hellix-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-SemiBoldItalic.woff2') format('woff2'),
        url('Hellix-SemiBoldItalic.woff') format('woff'),
        url('Hellix-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Regular.eot');
    src: local('Hellix Regular'), local('Hellix-Regular'),
        url('Hellix-Regular.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Regular.woff2') format('woff2'),
        url('Hellix-Regular.woff') format('woff'),
        url('Hellix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-LightItalic.eot');
    src: local('Hellix Light Italic'), local('Hellix-LightItalic'),
        url('Hellix-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-LightItalic.woff2') format('woff2'),
        url('Hellix-LightItalic.woff') format('woff'),
        url('Hellix-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-MediumItalic.eot');
    src: local('Hellix Medium Italic'), local('Hellix-MediumItalic'),
        url('Hellix-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-MediumItalic.woff2') format('woff2'),
        url('Hellix-MediumItalic.woff') format('woff'),
        url('Hellix-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-BlackItalic.eot');
    src: local('Hellix Black Italic'), local('Hellix-BlackItalic'),
        url('Hellix-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-BlackItalic.woff2') format('woff2'),
        url('Hellix-BlackItalic.woff') format('woff'),
        url('Hellix-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-RegularItalic.eot');
    src: local('Hellix Regular Italic'), local('Hellix-RegularItalic'),
        url('Hellix-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-RegularItalic.woff2') format('woff2'),
        url('Hellix-RegularItalic.woff') format('woff'),
        url('Hellix-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ExtraBoldItalic.eot');
    src: local('Hellix ExtraBold Italic'), local('Hellix-ExtraBoldItalic'),
        url('Hellix-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ExtraBoldItalic.woff2') format('woff2'),
        url('Hellix-ExtraBoldItalic.woff') format('woff'),
        url('Hellix-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-SemiBold.eot');
    src: local('Hellix SemiBold'), local('Hellix-SemiBold'),
        url('Hellix-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-SemiBold.woff2') format('woff2'),
        url('Hellix-SemiBold.woff') format('woff'),
        url('Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-BoldItalic.eot');
    src: local('Hellix Bold Italic'), local('Hellix-BoldItalic'),
        url('Hellix-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-BoldItalic.woff2') format('woff2'),
        url('Hellix-BoldItalic.woff') format('woff'),
        url('Hellix-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Light.eot');
    src: local('Hellix Light'), local('Hellix-Light'),
        url('Hellix-Light.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Light.woff2') format('woff2'),
        url('Hellix-Light.woff') format('woff'),
        url('Hellix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Thin.eot');
    src: local('Hellix Thin'), local('Hellix-Thin'),
        url('Hellix-Thin.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Thin.woff2') format('woff2'),
        url('Hellix-Thin.woff') format('woff'),
        url('Hellix-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Bold.eot');
    src: local('Hellix Bold'), local('Hellix-Bold'),
        url('Hellix-Bold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Bold.woff2') format('woff2'),
        url('Hellix-Bold.woff') format('woff'),
        url('Hellix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ExtraBold.eot');
    src: local('Hellix ExtraBold'), local('Hellix-ExtraBold'),
        url('Hellix-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ExtraBold.woff2') format('woff2'),
        url('Hellix-ExtraBold.woff') format('woff'),
        url('Hellix-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Black.eot');
    src: local('Hellix Black'), local('Hellix-Black'),
        url('Hellix-Black.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Black.woff2') format('woff2'),
        url('Hellix-Black.woff') format('woff'),
        url('Hellix-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ThinItalic.eot');
    src: local('Hellix Thin Italic'), local('Hellix-ThinItalic'),
        url('Hellix-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ThinItalic.woff2') format('woff2'),
        url('Hellix-ThinItalic.woff') format('woff'),
        url('Hellix-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Medium.eot');
    src: local('Hellix Medium'), local('Hellix-Medium'),
        url('Hellix-Medium.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Medium.woff2') format('woff2'),
        url('Hellix-Medium.woff') format('woff'),
        url('Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*,*::after,*::before{
    margin:0;padding:0;box-sizing:border-box;
}


header{
    display:flex;justify-content:space-between;align-items:center;padding:20px 60px 20px 60px;
    position:fixed;top:0;left:0;right:0;width:100%;font-family: 'Hellix';height: 112px;background-color: #FFFFFF;z-index:50;
}

header>div:last-child{
    display:flex;align-items:center;
}

.ham{
    width:32px;height:23px;display:none;
}

.ham2{
    width:32px;height:23px;display:none;object-fit:contain;
}

header>div:nth-child(2){
    display:flex;justify-content: center;align-items:center;
}

.first span{
    font-size:24px;font-weight:500;line-height:29px;font-style: normal;
}

.first a{
    text-decoration:none;color:black;
}

.first img{
    height:20px;width:20px;
}

.second a{
    margin-right:13px;font-weight:400;font-size:18px;text-decoration:none;line-height:22px;color:black;
}

.third{
    font-size:24px;font-weight:600;font-style:normal;line-height:29px;color:#FFFFFF;background-color:#B01219;
    padding:12px 30px 12px 30px;gap:10px;border-radius:4px;display:block;
}

.hover:hover{
    background-color: #FEA62C;transition:300ms;
}

.section1{
    width:100%;height:400px;background-color:white;margin-top:112px;font-family: 'Hellix';
    font-style: normal;overflow:hidden;
}

.section1>div:first-child{
    width:100%;font-weight: 600;font-size: 64px;line-height: 77px;padding:0px 280px 0px 60px;margin-top:90px;transform:translateY(350px);
    animation: slide 2s ;animation-fill-mode: forwards;opacity:0;
}

.section1>div:last-child{
    width:100%;margin-top:20px;padding-left:60px;font-weight: 400;font-size: 22px;line-height: 26px;color: #4F4F4F;padding-right:0;
    transform:translateY(350px);opacity:0;animation: slide 2s;animation-fill-mode: forwards;
}

.section2{
    width:100%;height:400px;overflow:hidden;
}

.section2 img{
    width:100%;height:100%;object-fit: cover;transform:translateY(500px);opacity:0;animation: slide2 2s;animation-fill-mode: forwards;
}

.section3{
    margin-top:70px;font-family: 'Hellix';font-style: normal;width:100%;height:400px;background-color:white;
    overflow: hidden;
}

.section3>div:first-child{
    font-weight: 600;font-size: 36px;line-height: 43px;color:#000000;padding-left:60px;padding-top:10px;padding-bottom:20px;
    padding-right:0;transform:translateY(700px);transition:2s;

}

.section3>div:last-child{
    font-weight: 400;font-size: 18px;line-height: 26px;color: #4F4F4F;padding:10px 80px 0px 60px;transform:translateY(700px);
    transition:2s;
}

.section4{
    width:100%;height:900px;overflow:hidden;font-family: 'Hellix';font-style: normal;
}

.section4>div:first-child{
    font-weight: 600;font-size: 36px;line-height: 43px;color:#000000;padding-left:60px;padding-top:10px;padding-bottom:20px;
    transform:translateY(300%);opacity:0;transition:0.5s;
}

.pictures{
    width:100%;height:400px;padding:10px 60px 20px 60px;display: flex;justify-content:space-between;align-items:center;
    flex-direction:row;flex-wrap: wrap;transform:translateY(300%);opacity:0;transition:0.5;
}


.pictures .pic{
    height: 352px;position:relative;border-radius:8px;flex-basis:30%;margin-top:0;
}

.pictures .pic>img{
    width:100%;height:100%;object-fit: cover;border-radius:8px;
}


.pictures .pic div{
    position: absolute;width:100%;bottom:0;display:flex;flex-direction: column;padding-left:15px;
    padding-bottom:10px;font-family: 'Hellix';font-style: normal;z-index: 4;
}

.pictures .pic div>*{
    margin-bottom:4px;
}

.pictures .pic div>span:first-child{
    font-size: 22px;line-height: 26px;color: #F2F2F2;font-weight:500px;
}

.pictures .pic div>span:last-child{
    font-weight: 500;font-size: 16px;line-height: 19px;color: #F2F2F2;
}

.linear{
    width:100%;height:100%;position:absolute;bottom:0;z-index:2;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);border-radius:8px;
}

footer{
    min-height:408px;width:100%;background-color: #000000;margin-top:80px;padding-top:0;font-family: 'Hellix';
    font-style: normal;
}

footer>div:first-child{
    display:flex;flex-wrap:wrap;
}

footer>div:first-child div{
    display:flex;flex-direction: column;padding:50px 50px;flex-basis:25%;
}


footer>div:first-child>div:first-child,footer>div:first-child>div:last-child, footer>div:first-child>div:nth-child(2),footer>div:first-child>div:nth-child(3){
    text-align:left;
}

footer>div:first-child div span{
    font-weight: 500;font-size: 20px;line-height: 24px;color:white;margin-bottom:30px;
}


footer>div:first-child div a{
    text-decoration:none;margin-bottom:15px;font-weight: 400;font-size: 16px;line-height: 20px;color: #FFFFFF;
    mix-blend-mode: normal;opacity: 0.75;
}


footer>div:nth-child(2){
    font-weight: 400;font-size: 16px;line-height: 26px;color: #FFFFFF;mix-blend-mode: normal;width:100%;margin-top:30px;
    display:flex;justify-content:center;align-items:center;height: 30px;
}

footer>div:last-child{
    display:flex;justify-content:center;align-items: center;width:100%;margin-top:20px;
}

footer>div:last-child *{
    margin-right: 5px;
}


.hammenu{
    width:100%;height:100vh;background-color: rgba(0, 0, 0,0.3);position:fixed;left:0;right:0;top:-150%;z-index:100;
    backdrop-filter:blur(0px);transition:1s;overflow:hidden;
}

.hammenu2{
    position: fixed;width:100%;height:0vh;top:0;left:0;right:0;overflow:hidden;z-index:40;transition:1s;display:none;
}



.hammenu>div{
    width:100%;min-height:60%;background-color:white;padding-bottom:30px;
}


.head{
    width:100%;display:flex;justify-content:space-between;align-items:center;font-family: 'Hellix';font-style: normal;
    font-weight: 500;font-size: 22px;line-height: 26px;color: #000000;padding:20px 40px 20px 40px ;margin-bottom:60px;
}

.head>div{
    display:flex;align-items: center;
}

.head>div>img{
    height:25px;width:25px;
}

.cancel span{
    color:black;font-size:40px;
}

.sections{
    font-weight: 500;font-size: 24px;line-height: 29px;font-family: 'Hellix';font-style: normal;
    display:flex;justify-content:center;align-items: center;margin-bottom:70px;padding-left:0;
}

.sections a{
    text-decoration:none;color: #4F4F4F;
}

.sections *{
    margin-right:10px;
}


.sections img{
    width:20px;height:20px;
}

.updated{
    color:black;
}

.sections2{
    text-align:center;
}

.shift{
    margin-bottom:80px;
}

.sections2 a{
    text-decoration:none;color:black;font-weight: 500;font-size: 24px;line-height: 29px;font-family: 'Hellix';font-style: normal;
}

.hammenu2>div{
    padding-top:180px;height:100vh;background-color:white;
}

.newcontact{
    width:100%;display:flex;justify-content:center;align-items:center;margin-top:30px;
}


.newcontact>div{
    font-size:24px;font-weight:600;font-style:normal;line-height:29px;color:#FFFFFF;background-color:#B01219;
    border-radius:4px;font-family: 'Hellix';font-style: normal;width:70%;height:60px;display:flex;justify-content:center;
    align-items:center;
}



@media only screen and (min-width:2558px){
    .section3{
        margin-top:70px;font-family: 'Hellix';font-style: normal;width:100%;height:300px;background-color:white;
    }

    .pictures .pic{
        height:600px;
    }

    .section4{
        height:1500px;
    }

    .pictures{
        height:700px;
    }
    
}

@media only screen and (max-width:1025px){
    .section1>div:first-child{
        width:100%;font-weight: 600;font-size: 64px;line-height: 77px;padding:0px 50px 0px 60px;margin-top:60px;
    }

    .section3{
        height:470px;
    }

    .pictures .pic{
        height:320px;
    }

    .section4{
        height:800px;
    }

    .pictures{
        height:380px;
    }
}

@media only screen and (max-width:769px){
    .section1>div:first-child{
        width:100%;font-weight: 600;font-size:44px;line-height:50px;padding:0px 50px 0px 60px;margin-top:60px;
    }

    .section1{
        height:330px;
    }

    .third{
        display:none;
    }

    .ham{
        display: block;
    }

    .section3{
        height:530px;margin-top:30px;
    }

    .section3>div:first-child{
        font-size:30px;padding-bottom:10px
    
    }
    
    .section3>div:last-child{
        font-size: 15px;padding:10px 60px 0px 60px;
    }

    .section4>div:first-child{
        font-size:30px;
    }

    .pictures .pic{
        height:250px;flex-basis:31%;
    }

    .section4{
        height:620px;
    }

    .pictures{
        height:280px;
    }

    .pictures .pic div>span:first-child{
        font-size:15px;line-height: 26px;color: #F2F2F2;font-weight:500px;
    }
    
    .pictures .pic div>span:last-child{
        font-weight: 500;font-size: 12px;line-height: 19px;color: #F2F2F2;
    }
}

@media only screen and (max-width:427px){
    .sections{
        font-weight: 500;font-size: 18px;line-height: 29px;font-family: 'Hellix';font-style: normal;
        display:flex;justify-content:flex-start;align-items: center;margin-bottom:40px;padding-left:40px;
    }

    .lite{
        justify-content: center;padding-right:0;padding-top:0px;
    }

    .lite img{
        flex-basis:100%;width:100%;
    }

    .enrich{
        padding-left:30px;text-align: center;padding-right:30px;
    }


    .cancel span{
        color:black;font-size:35px;
    }
    
    .hammenu2{
        display: block;
    }

    header{
        padding:30px;
    }

    .ham{
        display:none;
    }
    .ham2{
        display:block;
    }

    header>div:nth-child(2){
        display:none;
    }

    .section1{
        height:330px;
    }

    .section1>div:first-child{
        width:100%;font-weight: 600;font-size:36px;line-height:43px;padding:0px 30px 0px 30px;margin-top:20px;
    }

    .section1>div:last-child{
        width:100%;margin-top:20px;padding-left:30px;font-weight: 400;font-size:16px;line-height:19px;color: #4F4F4F;
        padding-right:30px;
    }

    .section2{
        height:290px;
    }

    .section3>div:first-child{
        font-size:22px;padding-bottom:10px;line-height:26px;padding-left:30px;padding-right:30px;

    
    }
    
    .section3>div:last-child{
        font-size: 16px;line-height:19px;padding:10px 30px 10px 30px;
    }

    .section3{
        height:630px;margin-top:30px;
    }

    .section4>div:first-child{
        font-size:22px;line-height:26px;padding-left:30px;padding-top:30px;
    }

    .pictures .pic{
        height:299px;flex-basis:100%;
    }

    .pictures{
        height:1000px;padding:0px 30px 0px 30px;
    }

    .section4{
        height:2130px;
    }

    footer{
        margin-top:0px;
    }

    footer>div:first-child div{
        display:flex;flex-direction: column;padding:20px 30px;flex-basis:100%;
    }
    
    footer>div:first-child div span{
        font-weight: 500;font-size: 20px;line-height: 24px;color:white;margin-bottom:15px;
    }
    
}


@media only screen and (max-width:376px){
    .section3{
        height:680px;margin-top:30px;
    }

    .section4>div:first-child{
        padding-top:50px;
    }

}


@media only screen and (max-width:320px){
    .section3{
        height:680px;margin-top:30px;
    }

    .section1{
        height:420px;
    }

   
}

@keyframes slide {
    0%{
        opacity:0;transform:translateY(350px);
    }

    100%{
        opacity:1;transform:translateY(0%);
    }
}


@keyframes slide2 {
    0%{
        opacity:0;transform:translateY(370px);
    }

    100%{
        opacity:1;transform:translateY(0%);
    }
}
