@font-face {
    font-family: 'Hellix';
    src: url('Hellix-SemiBoldItalic.eot');
    src: local('Hellix SemiBold Italic'), local('Hellix-SemiBoldItalic'),
        url('Hellix-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-SemiBoldItalic.woff2') format('woff2'),
        url('Hellix-SemiBoldItalic.woff') format('woff'),
        url('Hellix-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Regular.eot');
    src: local('Hellix Regular'), local('Hellix-Regular'),
        url('Hellix-Regular.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Regular.woff2') format('woff2'),
        url('Hellix-Regular.woff') format('woff'),
        url('Hellix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-LightItalic.eot');
    src: local('Hellix Light Italic'), local('Hellix-LightItalic'),
        url('Hellix-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-LightItalic.woff2') format('woff2'),
        url('Hellix-LightItalic.woff') format('woff'),
        url('Hellix-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-MediumItalic.eot');
    src: local('Hellix Medium Italic'), local('Hellix-MediumItalic'),
        url('Hellix-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-MediumItalic.woff2') format('woff2'),
        url('Hellix-MediumItalic.woff') format('woff'),
        url('Hellix-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-BlackItalic.eot');
    src: local('Hellix Black Italic'), local('Hellix-BlackItalic'),
        url('Hellix-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-BlackItalic.woff2') format('woff2'),
        url('Hellix-BlackItalic.woff') format('woff'),
        url('Hellix-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-RegularItalic.eot');
    src: local('Hellix Regular Italic'), local('Hellix-RegularItalic'),
        url('Hellix-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-RegularItalic.woff2') format('woff2'),
        url('Hellix-RegularItalic.woff') format('woff'),
        url('Hellix-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ExtraBoldItalic.eot');
    src: local('Hellix ExtraBold Italic'), local('Hellix-ExtraBoldItalic'),
        url('Hellix-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ExtraBoldItalic.woff2') format('woff2'),
        url('Hellix-ExtraBoldItalic.woff') format('woff'),
        url('Hellix-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-SemiBold.eot');
    src: local('Hellix SemiBold'), local('Hellix-SemiBold'),
        url('Hellix-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-SemiBold.woff2') format('woff2'),
        url('Hellix-SemiBold.woff') format('woff'),
        url('Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-BoldItalic.eot');
    src: local('Hellix Bold Italic'), local('Hellix-BoldItalic'),
        url('Hellix-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-BoldItalic.woff2') format('woff2'),
        url('Hellix-BoldItalic.woff') format('woff'),
        url('Hellix-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Light.eot');
    src: local('Hellix Light'), local('Hellix-Light'),
        url('Hellix-Light.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Light.woff2') format('woff2'),
        url('Hellix-Light.woff') format('woff'),
        url('Hellix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Thin.eot');
    src: local('Hellix Thin'), local('Hellix-Thin'),
        url('Hellix-Thin.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Thin.woff2') format('woff2'),
        url('Hellix-Thin.woff') format('woff'),
        url('Hellix-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Bold.eot');
    src: local('Hellix Bold'), local('Hellix-Bold'),
        url('Hellix-Bold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Bold.woff2') format('woff2'),
        url('Hellix-Bold.woff') format('woff'),
        url('Hellix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ExtraBold.eot');
    src: local('Hellix ExtraBold'), local('Hellix-ExtraBold'),
        url('Hellix-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ExtraBold.woff2') format('woff2'),
        url('Hellix-ExtraBold.woff') format('woff'),
        url('Hellix-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Black.eot');
    src: local('Hellix Black'), local('Hellix-Black'),
        url('Hellix-Black.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Black.woff2') format('woff2'),
        url('Hellix-Black.woff') format('woff'),
        url('Hellix-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ThinItalic.eot');
    src: local('Hellix Thin Italic'), local('Hellix-ThinItalic'),
        url('Hellix-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ThinItalic.woff2') format('woff2'),
        url('Hellix-ThinItalic.woff') format('woff'),
        url('Hellix-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Medium.eot');
    src: local('Hellix Medium'), local('Hellix-Medium'),
        url('Hellix-Medium.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Medium.woff2') format('woff2'),
        url('Hellix-Medium.woff') format('woff'),
        url('Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*,*::after,*::before{
    margin:0;padding:0;box-sizing:border-box;
}

body{
    background-color: #0C0C0C;
}

header{
    display:flex;justify-content:space-between;align-items:center;padding:20px 60px 20px 60px;
    position:fixed;top:0;left:0;right:0;width:100%;font-family: 'Hellix';height: 112px;background-color:transparent;z-index:50;
}

header>div:last-child{
    display:flex;align-items:center;
}

.ham{
    width:32px;height:23px;display:none;object-fit:cover;
}

.ham2{
    width:32px;height:23px;display:none;object-fit:cover;
}

header>div:nth-child(2){
    display:flex;justify-content: center;align-items:center;
}

.first span{
    font-size:24px;font-weight:500;line-height:29px;font-style: normal;color:white;
}

.first a{
    text-decoration:none;color:white;
}

.first img{
    height:20px;width:20px;
}

.second a{
    margin-right:13px;font-weight:400;font-size:18px;text-decoration:none;line-height:22px;color:white;
}

.third{
    font-size:24px;font-weight:600;font-style:normal;line-height:29px;color:#FFFFFF;background-color:#B01219;
    padding:12px 30px 12px 30px;gap:10px;border-radius:4px;display:block;
}

.hover:hover{
    background-color: #FEA62C;transition:300ms;
}

.section1{
    width:100%;height:614px;position:relative;
}

video{
    width:100%;height:614px;object-fit: cover;display:block;
}

.video{
    height:514px;display:none;position:absolute;top:0;left:0;right:0;
    background-size: cover;background-repeat: no-repeat;
}


.back{
    background-image:linear-gradient(0.71deg, #0C0C0C 0.57%, rgba(63, 63, 63, 0) 197.33%) ;
    width:100%;height: 615px;position:absolute;top:0;left:0;right:0;
}

.write{
    background:transparent;width:100%;height:618px;position:absolute;top:0;left:0;right:0;color:white;
}

.write>div{
    width:100%;height:100%;position:relative;overflow: hidden;
}

.write>div>div{
    width:100%;position:absolute;bottom:130px;display:flex;flex-direction:column;padding-left:60px;font-family: 'Hellix';
    font-style: normal;padding-right:0;transform:translateY(150%); animation: slide 2s ;animation-fill-mode: forwards;opacity:0;
}

.write>div>div>span:first-child{
    font-size: 64px;line-height: 77px;color: #BDBDBD;font-weight: 600;margin-bottom:10px;
}

.write>div>div>span:last-child{
    font-weight: 300;font-size: 22px;line-height: 26px;color: #BDBDBD;
}

.section2{
    width:100%;height:300px;background-color: #0C0C0C;color:white;padding-left:60px;font-family: 'Hellix';
    font-style: normal;padding-right:60px;overflow: hidden;
}

.section2>div:first-child{
    display:flex;flex-direction: column;transform:translateY(350px);animation: slide 2s ;animation-fill-mode: forwards;opacity:0;
    animation-delay:0.5s;
}

.section2>div:first-child>span:first-child{
    margin-bottom:5px;font-weight: 600;font-size: 22px;line-height: 26px;color: #BDBDBD;
}

.section2>div:first-child>span:last-child{
    font-weight: 300;font-size: 22px;line-height: 26px;color: #BDBDBD;
}

form{
    width:845px;height:90px;background-color:transparent;display:flex;justify-content: space-between;align-items:center;
    margin-top:40px;border:1px solid rgba(189, 189, 189,0.5);padding:10px;border-radius:4px;font-family: 'Hellix';
    font-style: normal;margin-bottom:0;transform:translateY(350px);animation: slide 2s ;animation-fill-mode: forwards;opacity:0;
    animation-delay:0.5s;
}

form .submit{
    padding: 10px;gap: 10px;width: 200px;height: 72px;background: #F2F2F2;border-radius: 4px;
    outline:none;font-weight: 600;font-size: 24px;line-height: 29px;color: #333333;border:none;transition:300ms;
}

form .submit:hover{
    background-color:rgba(242, 242, 242,0.5);
}

form .email{
    padding: 10px;gap: 10px;width: 400px;height: 72px;background:transparent;border-radius: 4px;
    outline:none;border:1px solid transparent;font-weight: 100;font-size: 22px;line-height: 26px;color: #BDBDBD;
    margin-bottom:0;
}

footer{
    min-height:408px;width:100%;background-color: #000000;margin-top:80px;padding-top:0;font-family: 'Hellix';
    font-style: normal;
}

footer>div:first-child{
    display:flex;flex-wrap:wrap;
}

footer>div:first-child div{
    display:flex;flex-direction: column;padding:50px 50px;flex-basis:15%;flex-grow:1;
}


footer>div:first-child>div:first-child,footer>div:first-child>div:last-child, footer>div:first-child>div:nth-child(2),footer>div:first-child>div:nth-child(3){
    text-align:left;
}

footer>div:first-child div span{
    font-weight: 500;font-size: 20px;line-height: 24px;color:white;margin-bottom:30px;
}


footer>div:first-child div a{
    text-decoration:none;margin-bottom:15px;font-weight: 400;font-size: 16px;line-height: 20px;color: #FFFFFF;
    mix-blend-mode: normal;opacity: 0.75;
}


footer>div:nth-child(2){
    font-weight: 400;font-size: 16px;line-height: 26px;color: #FFFFFF;mix-blend-mode: normal;width:100%;margin-top:30px;
    display:flex;justify-content:center;align-items:center;height: 30px;
}

footer>div:last-child{
    display:flex;justify-content:center;align-items: center;width:100%;margin-top:20px;
}

footer>div:last-child *{
    margin-right: 5px;
}


.hammenu{
    width:100%;height:100vh;background-color: rgba(0, 0, 0,0.3);position:fixed;left:0;right:0;top:-150%;z-index:100;
    backdrop-filter:blur(0px);transition:1s;overflow:hidden;
}

.hammenu2{
    position: fixed;width:100%;height:0vh;top:0;left:0;right:0;overflow:hidden;z-index:40;transition:1s;display:none;
}



.hammenu>div{
    width:100%;min-height:60%;background-color:white;padding-bottom:30px;
}


.head{
    width:100%;display:flex;justify-content:space-between;align-items:center;font-family: 'Hellix';font-style: normal;
    font-weight: 500;font-size: 22px;line-height: 26px;color: #000000;padding:20px 40px 20px 40px ;margin-bottom:60px;
}

.head>div{
    display:flex;align-items: center;
}

.head>div>img{
    height:25px;width:25px;
}

.cancel span{
    color:black;font-size:40px;
}

.sections{
    font-weight: 500;font-size: 24px;line-height: 29px;font-family: 'Hellix';font-style: normal;
    display:flex;justify-content:center;align-items: center;margin-bottom:70px;padding-left:0;
}

.sections a{
    text-decoration:none;color: #4F4F4F;
}

.sections *{
    margin-right:10px;
}


.sections img{
    width:20px;height:20px;
}

.updated{
    color:black;
}

.sections2{
    text-align:center;
}

.shift{
    margin-bottom:80px;
}

.sections2 a{
    text-decoration:none;color:black;font-weight: 500;font-size: 24px;line-height: 29px;font-family: 'Hellix';font-style: normal;
}

.hammenu2>div{
    padding-top:180px;height:100vh;background-color:white;
}

.newcontact{
    width:100%;display:flex;justify-content:center;align-items:center;margin-top:30px;
}


.newcontact>div{
    font-size:24px;font-weight:600;font-style:normal;line-height:29px;color:#FFFFFF;background-color:#B01219;
    border-radius:4px;font-family: 'Hellix';font-style: normal;width:70%;height:60px;display:flex;justify-content:center;
    align-items:center;
}


@media only screen and (min-width:1440px){
    .back{
        height:620px;
    }
}



@media only screen and (max-width:769px){
    .third{
        display:none;
    }

    .ham{
        display:block;
    }

    form{
        width:600px;height:60px;
    }

    form .submit{
        padding: 10px;gap:10px;width: 150px;height:40px;font-weight: 600;font-size:18px;line-height:22px
    }

    form .email{
        padding: 10px;gap: 10px;width:350px;height:40px;background:transparent;border-radius: 4px;
        outline:none;border:1px solid transparent;font-weight: 100;font-size:18px;line-height: 22px;color: #BDBDBD;
    }

    .write>div>div>span:first-child{
        font-size:50px;line-height: 57px;
    }
    
    .write>div>div>span:last-child{
        font-size:20px;line-height: 22px;
    }

    .write>div>div{
        position:absolute;bottom:100px;padding-right:30px;
    }

    .section1{
        height:500px;
    }
    
    video{
        height:500px;
    }

    .video{
        height:500px;display:block;
    }
    
    .back{
        height:500px;
    }

    .write{
        height:500px;
    }
    
    .section2{
        width:100%;height:250px;
    }
    
    .section2>div:first-child>span:first-child{
        font-size:20px;line-height: 22px;
    }
    
    .section2>div:first-child>span:last-child{
        font-size:19px;line-height: 22px;
    }

    footer>div:first-child div{
        display:flex;flex-direction: column;padding:30px 30px;flex-basis:15%;
    }

    
}


@media only screen and (max-width:427px){

    .sections{
        font-weight: 500;font-size: 18px;line-height: 29px;font-family: 'Hellix';font-style: normal;
        display:flex;justify-content:flex-start;align-items: center;margin-bottom:40px;padding-left:40px;
    }

    .cancel span{
        color:black;font-size:35px;
    }
    
    .hammenu2{
        display: block;
    }

    .ham{
        display:none;
    }

    .ham2{
        display:block;
    }


    header{
        padding:15px 30px 15px 30px;
    }

    header>div:nth-child(2){
        display:none;
    }

    .write>div>div{
        padding-left:30px;padding-right:30px;
    }

    .write>div>div>span:first-child{
        font-size: 36px;line-height:43px;
    }

    .write>div>div>span:last-child{
        font-size: 16px;line-height: 19px;
    }

    .section1{
        height:380px;
    }

    .section2{
        height:300px;
    }

    .section2>div:first-child>span:first-child{
        font-size: 16px;line-height: 19px;
    }
    
    .section2>div:first-child>span:last-child{
        font-size: 16px;line-height: 19px;
    }
    
    video{
        height:380px;
    }

    .video{
        height:380px;
    }
    
    
    .back{
        height:380px;
    }

    .write{
        height:380px;
    }

    .write>div>div{
        bottom:50px;
    }

    .section2{
        padding-left:30px;
    }


    form{
        width:365px;height:90px;flex-direction: column;border:none;margin-top:28px;
    }

    form .submit{
        padding: 10px;gap:10px;width: 365px;height:60px;font-size:16px;line-height:19px
    }

    form .email{
        padding: 10px;gap: 10px;width:365px;height:54px;background:transparent;border-radius: 4px;
        border:1px solid  rgba(189, 189, 189,0.5);font-size:16px;line-height:19px;margin-bottom:15px;
    }

    footer{
        margin-top:0px;padding-top:20px;
    }

    footer>div:first-child div{
        display:flex;flex-direction: column;padding:20px 30px;flex-basis:100%;
    }
    
    footer>div:first-child div span{
        font-weight: 500;font-size: 20px;line-height: 24px;color:white;margin-bottom:15px;
    }

}


@media only screen and (max-width:377px){

    form{
        width:295px;
    }

    form .submit{
        width: 295px;
    }

    form .email{
        width:295px;
    }

}


@media only screen and (max-width:320px){

    form{
        width:260px;
    }

    form .submit{
        width:260px;
    }

    form .email{
        width:260px;
    }

}

@keyframes slide {
    0%{
        opacity:0;transform:translateY(350px);
    }

    100%{
        opacity:1;transform:translateY(0%);
    }
}