@font-face {
    font-family: 'Hellix';
    src: url('Hellix-SemiBoldItalic.eot');
    src: local('Hellix SemiBold Italic'), local('Hellix-SemiBoldItalic'),
        url('Hellix-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-SemiBoldItalic.woff2') format('woff2'),
        url('Hellix-SemiBoldItalic.woff') format('woff'),
        url('Hellix-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Regular.eot');
    src: local('Hellix Regular'), local('Hellix-Regular'),
        url('Hellix-Regular.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Regular.woff2') format('woff2'),
        url('Hellix-Regular.woff') format('woff'),
        url('Hellix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-LightItalic.eot');
    src: local('Hellix Light Italic'), local('Hellix-LightItalic'),
        url('Hellix-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-LightItalic.woff2') format('woff2'),
        url('Hellix-LightItalic.woff') format('woff'),
        url('Hellix-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-MediumItalic.eot');
    src: local('Hellix Medium Italic'), local('Hellix-MediumItalic'),
        url('Hellix-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-MediumItalic.woff2') format('woff2'),
        url('Hellix-MediumItalic.woff') format('woff'),
        url('Hellix-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-BlackItalic.eot');
    src: local('Hellix Black Italic'), local('Hellix-BlackItalic'),
        url('Hellix-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-BlackItalic.woff2') format('woff2'),
        url('Hellix-BlackItalic.woff') format('woff'),
        url('Hellix-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-RegularItalic.eot');
    src: local('Hellix Regular Italic'), local('Hellix-RegularItalic'),
        url('Hellix-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-RegularItalic.woff2') format('woff2'),
        url('Hellix-RegularItalic.woff') format('woff'),
        url('Hellix-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ExtraBoldItalic.eot');
    src: local('Hellix ExtraBold Italic'), local('Hellix-ExtraBoldItalic'),
        url('Hellix-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ExtraBoldItalic.woff2') format('woff2'),
        url('Hellix-ExtraBoldItalic.woff') format('woff'),
        url('Hellix-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-SemiBold.eot');
    src: local('Hellix SemiBold'), local('Hellix-SemiBold'),
        url('Hellix-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-SemiBold.woff2') format('woff2'),
        url('Hellix-SemiBold.woff') format('woff'),
        url('Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-BoldItalic.eot');
    src: local('Hellix Bold Italic'), local('Hellix-BoldItalic'),
        url('Hellix-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-BoldItalic.woff2') format('woff2'),
        url('Hellix-BoldItalic.woff') format('woff'),
        url('Hellix-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Light.eot');
    src: local('Hellix Light'), local('Hellix-Light'),
        url('Hellix-Light.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Light.woff2') format('woff2'),
        url('Hellix-Light.woff') format('woff'),
        url('Hellix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Thin.eot');
    src: local('Hellix Thin'), local('Hellix-Thin'),
        url('Hellix-Thin.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Thin.woff2') format('woff2'),
        url('Hellix-Thin.woff') format('woff'),
        url('Hellix-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Bold.eot');
    src: local('Hellix Bold'), local('Hellix-Bold'),
        url('Hellix-Bold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Bold.woff2') format('woff2'),
        url('Hellix-Bold.woff') format('woff'),
        url('Hellix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ExtraBold.eot');
    src: local('Hellix ExtraBold'), local('Hellix-ExtraBold'),
        url('Hellix-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ExtraBold.woff2') format('woff2'),
        url('Hellix-ExtraBold.woff') format('woff'),
        url('Hellix-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Black.eot');
    src: local('Hellix Black'), local('Hellix-Black'),
        url('Hellix-Black.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Black.woff2') format('woff2'),
        url('Hellix-Black.woff') format('woff'),
        url('Hellix-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ThinItalic.eot');
    src: local('Hellix Thin Italic'), local('Hellix-ThinItalic'),
        url('Hellix-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ThinItalic.woff2') format('woff2'),
        url('Hellix-ThinItalic.woff') format('woff'),
        url('Hellix-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Medium.eot');
    src: local('Hellix Medium'), local('Hellix-Medium'),
        url('Hellix-Medium.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Medium.woff2') format('woff2'),
        url('Hellix-Medium.woff') format('woff'),
        url('Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*,*::after,*::before{
    margin:0;padding:0;box-sizing:border-box;
}

header{
    display:flex;justify-content:space-between;align-items:center;padding:20px 60px 20px 60px;
    position:fixed;top:0;left:0;right:0;width:100%;font-family: 'Hellix';height: 112px;background-color: #FFFFFF;
}

header>div:nth-child(2){
    display:flex;justify-content: center;align-items:center;
}

.first span{
    font-size:24px;font-weight:500;line-height:29px;font-style: normal;
}

.first img{
    height:20px;width:20px;
}

.second a{
    margin-right:13px;font-weight:400;font-size:18px;text-decoration:none;line-height:22px;color:black;
}

.third{
    font-size:24px;font-weight:600;font-style:normal;line-height:29px;color:#FFFFFF;background-color:#B01219;
    padding:12px 30px 12px 30px;gap:10px;border-radius:4px;
}

.section1{
    display:flex;flex-wrap: wrap;margin-top:112px;height:534px;width:100%;
}

.section1 section{
    flex-basis:50%;height:100%;font-family:"Hellix";font-style: normal;background-color: #FFFFFF;
}

.section1>section:first-child>div:first-child{
    color:#000000;font-weight: 600;font-size: 64px;line-height: 77px;
    padding-top:50px;padding-left:60px;
    
    
}

.section1>section:first-child>div:nth-child(2){
    padding-top:40px;padding-left:60px;font-weight: 400;font-size: 22px;line-height: 26px;color:#4F4F4F;
    
}

.section1>section:first-child>div:nth-child(3){
    margin-left:60px;background-color: #B01219;width:260px;display:flex;justify-content:center;margin-top:40px;
    padding: 20px;border-radius:4px;
}

.section1>section:first-child>div:nth-child(3)>span{
    font-weight: 600;font-size: 24px;line-height: 29px;color:white;
}

.arrow{
    margin-right:5px;

}


.section1>section:first-child>div:last-child{
    display: flex;align-items: center;width:400px;margin-top:70px;margin-left:60px;
}

.section1>section:first-child>div:last-child section{
    flex-basis:100%;margin-right:35px;text-align: center;font-weight: 400;font-size: 14px;line-height: 17px;height:100%;color:#333333;
}

.lite{
    display:flex;justify-content:center;align-items:center;padding-top:70px;
}

.lite img{
    height: 534px;
}
